@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono), monospace;
  --font-sans: var(--font-geist-sans), sans-serif;
}

code {
  font-family: var(--font-geist-mono);
}

pre {
  font-family: var(--font-geist-mono);
  background-color: #3a3a3a56;
  font-size: 0.875rem;
  padding: calc(var(--spacing) * 4);
  white-space: pre-wrap;
  tab-size: 4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

a:hover {
  color: white;
  opacity: 1;
  border-bottom: 1px solid var(--foreground);
  text-decoration: none;
}

kbd {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.2em 0.4em;
  border-radius: 0.25em;
  text-transform: uppercase;
}

ul {
  list-style: disc;
  margin-left: 2em;
}

.footnotes::before {
  content: "";
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 0.5em;
}

/* Style the footnotes section. */
.footnotes {
  font-size: smaller;
  color: #8b949e;
  border-top: 1px solid #30363d;
}

/* Hide the section label for visual users. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

/* Place `[` and `]` around footnote references. */
[data-footnote-ref]::before {
  content: "[";
}

[data-footnote-ref]::after {
  content: "]";
}
